.frame14736-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.frame14736-thq-frame14736-elm {
  gap: 1223px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame14736-thq-frame-elm1 {
  width: 1200px;
  height: 760px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame14736-thq-vector-elm1 {
  top: 0px;
  left: 0px;
  width: 1200px;
  height: 760px;
  position: absolute;
}
 
.frame14736-thq-vector-elm2 {
  top: 28px;
  left: 60px;
  width: 1080px;
  height: 704px;
  position: absolute;
}
 
.frame14736-thq-frame14517-elm1 {
  gap: 37px;
  top: 40px;
  left: 89px;
  width: 1021px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-frame14595-elm {
  gap: 500px;
  display: flex;
  align-items: flex-start;
}
 
.frame14736-thq-frame14516-elm {
  gap: 6px;
  width: 396px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-text-elm100 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm101 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-group-elm1 {
  width: 116px;
  height: 12px;
}
 
.frame14736-thq-frame14515-elm {
  gap: 9px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame14736-thq-text-elm102 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14500-elm {
  gap: 10px;
  display: flex;
  padding: 15px 18px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm103 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm104 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14509-elm {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.frame14736-thq-frame14501-elm {
  gap: 10px;
  width: 340px;
  height: 46px;
  display: flex;
  padding: 15px 18px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm105 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14502-elm {
  gap: 10px;
  width: 660px;
  height: 46px;
  display: flex;
  padding: 15px 18px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm106 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm107 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14503-elm {
  gap: 9px;
  height: 140px;
  display: flex;
  padding: 20px 18px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm108 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm109 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14514-elm {
  gap: 60px;
  display: flex;
  align-items: flex-start;
}
 
.frame14736-thq-frame14512-elm {
  gap: 11px;
  width: 640px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-text-elm110 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14511-elm {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame14736-thq-frame14510-elm {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.frame14736-thq-frame14504-elm {
  gap: 10px;
  width: 200px;
  height: 36px;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm111 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14505-elm {
  gap: 10px;
  width: 200px;
  height: 36px;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm112 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14506-elm {
  gap: 10px;
  width: 220px;
  height: 36px;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm113 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14507-elm {
  gap: 10px;
  display: flex;
  padding: 13px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm114 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14513-elm {
  gap: 11px;
  width: 280px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-text-elm115 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14508-elm {
  gap: 7px;
  height: 92px;
  display: flex;
  padding: 19px 11px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm116 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm117 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14357-elm {
  gap: 234px;
  width: 737px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.frame14736-thq-frame14355-elm1 {
  gap: 11px;
  display: flex;
  align-items: center;
}
 
.frame14736-thq-frame14338-elm1 {
  gap: 10px;
  width: 164px;
  height: 46px;
  display: flex;
  padding: 15px 18px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(245, 245, 240, 1);
}
 
.frame14736-thq-text-elm118 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14339-elm1 {
  gap: 10px;
  width: 164px;
  height: 46px;
  display: flex;
  padding: 15px 18px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(245, 245, 240, 1);
}
 
.frame14736-thq-text-elm119 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14338-elm2 {
  gap: 10px;
  width: 164px;
  height: 46px;
  display: flex;
  padding: 9px 47px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(254, 163, 142, 1);
}
 
.frame14736-thq-text-elm120 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame-elm2 {
  width: 1200px;
  height: 760px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame14736-thq-vector-elm3 {
  top: 0px;
  left: 0px;
  width: 1200px;
  height: 760px;
  position: absolute;
}
 
.frame14736-thq-vector-elm4 {
  top: 28px;
  left: 60px;
  width: 1080px;
  height: 704px;
  position: absolute;
}
 
.frame14736-thq-frame14538-elm1 {
  gap: 147px;
  top: 40px;
  left: 90px;
  width: 1010px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-frame14596-elm {
  gap: 500px;
  display: flex;
  align-items: flex-start;
}
 
.frame14736-thq-frame14537-elm {
  gap: 6px;
  width: 371px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-text-elm121 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm122 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-group-elm2 {
  width: 116px;
  height: 12px;
}
 
.frame14736-thq-frame14536-elm {
  gap: 60px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame14736-thq-frame14527-elm {
  gap: 21px;
  width: 480px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-text-elm123 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14526-elm {
  gap: 68px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.frame14736-thq-frame14525-elm {
  gap: 30px;
  width: 122px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-text-elm124 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm125 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm126 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm127 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14524-elm {
  gap: 10px;
  width: 290px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-frame14518-elm {
  gap: 10px;
  display: flex;
  padding: 10px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm128 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14523-elm {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.frame14736-thq-frame14519-elm {
  gap: 10px;
  width: 140px;
  height: 36px;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm129 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14520-elm {
  gap: 10px;
  width: 140px;
  height: 36px;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm130 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14521-elm {
  gap: 10px;
  display: flex;
  padding: 10px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm131 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14522-elm {
  gap: 10px;
  display: flex;
  padding: 10px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm132 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm133 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14535-elm {
  gap: 13px;
  width: 470px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-text-elm134 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm135 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14534-elm {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame14736-thq-frame14528-elm {
  gap: 10px;
  display: flex;
  padding: 13px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm136 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14529-elm {
  gap: 10px;
  display: flex;
  padding: 13px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm137 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14532-elm {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.frame14736-thq-frame14530-elm {
  gap: 10px;
  width: 260px;
  height: 36px;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm138 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14531-elm {
  gap: 10px;
  width: 200px;
  height: 36px;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm139 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm140 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14533-elm {
  gap: 10px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm141 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14517-elm2 {
  gap: 234px;
  width: 737px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.frame14736-thq-frame14355-elm2 {
  gap: 11px;
  display: flex;
  align-items: center;
}
 
.frame14736-thq-frame14338-elm3 {
  gap: 10px;
  width: 164px;
  height: 46px;
  display: flex;
  padding: 15px 18px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(245, 245, 240, 1);
}
 
.frame14736-thq-text-elm142 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14339-elm2 {
  gap: 10px;
  width: 164px;
  height: 46px;
  display: flex;
  padding: 15px 18px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(245, 245, 240, 1);
}
 
.frame14736-thq-text-elm143 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14338-elm4 {
  gap: 10px;
  width: 164px;
  height: 46px;
  display: flex;
  padding: 9px 47px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(254, 163, 142, 1);
}
 
.frame14736-thq-text-elm144 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame-elm3 {
  width: 1200px;
  height: 760px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame14736-thq-vector-elm5 {
  top: 0px;
  left: 0px;
  width: 1200px;
  height: 760px;
  position: absolute;
}
 
.frame14736-thq-vector-elm6 {
  top: 28px;
  left: 60px;
  width: 1080px;
  height: 704px;
  position: absolute;
}
 
.frame14736-thq-frame14560-elm {
  gap: 75px;
  top: 40px;
  left: 90px;
  width: 980px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-frame14597-elm {
  gap: 500px;
  display: flex;
  align-items: flex-start;
}
 
.frame14736-thq-frame14559-elm {
  gap: 6px;
  width: 420px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-text-elm145 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm146 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-group-elm3 {
  width: 116px;
  height: 12px;
}
 
.frame14736-thq-frame14558-elm {
  gap: 60px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame14736-thq-frame14550-elm {
  gap: 12px;
  width: 620px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-text-elm147 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm148 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14549-elm {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame14736-thq-frame14539-elm {
  gap: 3px;
  height: 54px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm149 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm150 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14548-elm {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.frame14736-thq-frame14540-elm {
  gap: 10px;
  width: 360px;
  height: 36px;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm151 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14541-elm {
  gap: 10px;
  width: 240px;
  height: 36px;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm152 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14542-elm {
  gap: 3px;
  height: 54px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm153 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm154 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14543-elm {
  gap: 3px;
  height: 54px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm155 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm156 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14547-elm {
  gap: 10px;
  display: flex;
  align-items: center;
}
 
.frame14736-thq-frame14546-elm {
  gap: 10px;
  width: 190px;
  height: 36px;
  display: flex;
  padding: 10px 18px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(254, 163, 142, 1);
}
 
.frame14736-thq-text-elm157 {
  color: rgba(248, 245, 240, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14544-elm {
  gap: 10px;
  width: 260px;
  height: 36px;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm158 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14545-elm {
  gap: 7px;
  height: 90px;
  display: flex;
  padding: 15px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm159 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm160 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14557-elm {
  gap: 18px;
  width: 300px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-text-elm161 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14556-elm {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame14736-thq-text-elm162 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14551-elm {
  gap: 10px;
  display: flex;
  padding: 10px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm163 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm164 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14552-elm {
  gap: 10px;
  display: flex;
  padding: 10px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm165 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm166 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14553-elm {
  gap: 10px;
  display: flex;
  padding: 10px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm167 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm168 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14554-elm {
  gap: 10px;
  display: flex;
  padding: 10px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm169 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm170 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14555-elm {
  gap: 7px;
  height: 84px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm171 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm172 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14538-elm2 {
  gap: 234px;
  width: 737px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.frame14736-thq-frame14355-elm3 {
  gap: 11px;
  display: flex;
  align-items: center;
}
 
.frame14736-thq-frame14338-elm5 {
  gap: 10px;
  width: 164px;
  height: 46px;
  display: flex;
  padding: 15px 18px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(245, 245, 240, 1);
}
 
.frame14736-thq-text-elm173 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14339-elm3 {
  gap: 10px;
  width: 164px;
  height: 46px;
  display: flex;
  padding: 15px 18px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(245, 245, 240, 1);
}
 
.frame14736-thq-text-elm174 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14338-elm6 {
  gap: 10px;
  width: 164px;
  height: 46px;
  display: flex;
  padding: 9px 47px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(254, 163, 142, 1);
}
 
.frame14736-thq-text-elm175 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame-elm4 {
  width: 1200px;
  height: 760px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame14736-thq-vector-elm7 {
  top: 0px;
  left: 0px;
  width: 1200px;
  height: 760px;
  position: absolute;
}
 
.frame14736-thq-vector-elm8 {
  top: 28px;
  left: 60px;
  width: 1080px;
  height: 704px;
  position: absolute;
}
 
.frame14736-thq-frame14579-elm {
  gap: 93px;
  top: 40px;
  left: 90px;
  width: 1030px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-frame14598-elm {
  gap: 500px;
  display: flex;
  align-items: flex-start;
}
 
.frame14736-thq-frame14578-elm {
  gap: 6px;
  width: 390px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-text-elm176 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm177 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-group-elm4 {
  width: 116px;
  height: 12px;
}
 
.frame14736-thq-frame14577-elm {
  gap: 60px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame14736-thq-frame14571-elm {
  gap: 14px;
  width: 480px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-text-elm178 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14568-elm {
  gap: 21px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.frame14736-thq-frame14566-elm {
  gap: 30px;
  width: 149px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-text-elm179 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm180 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm181 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14567-elm {
  gap: 10px;
  width: 310px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-frame14561-elm {
  gap: 10px;
  display: flex;
  padding: 10px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm182 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14564-elm {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.frame14736-thq-frame14562-elm {
  gap: 10px;
  width: 150px;
  height: 36px;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm183 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14563-elm {
  gap: 10px;
  width: 150px;
  height: 36px;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm184 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14565-elm {
  gap: 10px;
  display: flex;
  padding: 10px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm185 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14570-elm {
  gap: 14px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame14736-thq-text-elm186 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14569-elm {
  gap: 10px;
  display: flex;
  padding: 18px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm187 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm188 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14576-elm {
  gap: 18px;
  width: 490px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame14736-thq-text-elm189 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14575-elm {
  gap: 7px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame14736-thq-text-elm190 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14572-elm {
  gap: 10px;
  display: flex;
  padding: 15px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm191 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm192 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14573-elm {
  gap: 10px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm193 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm194 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14574-elm {
  gap: 9px;
  height: 110px;
  display: flex;
  padding: 18px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgba(248, 245, 240, 1);
}
 
.frame14736-thq-text-elm195 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm196 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-text-elm197 {
  color: rgba(34, 35, 37, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14517-elm3 {
  gap: 234px;
  width: 737px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.frame14736-thq-frame14355-elm4 {
  gap: 11px;
  display: flex;
  align-items: center;
}
 
.frame14736-thq-frame14338-elm7 {
  gap: 10px;
  width: 164px;
  height: 46px;
  display: flex;
  padding: 15px 18px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(245, 245, 240, 1);
}
 
.frame14736-thq-text-elm198 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14339-elm4 {
  gap: 10px;
  width: 164px;
  height: 46px;
  display: flex;
  padding: 15px 18px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(254, 163, 142, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(245, 245, 240, 1);
}
 
.frame14736-thq-text-elm199 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-thq-frame14338-elm8 {
  gap: 10px;
  width: 164px;
  height: 46px;
  display: flex;
  padding: 9px 47px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(254, 163, 142, 1);
}
 
.frame14736-thq-text-elm200 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame14736-link {
  display: contents;
}
 
.frame14736-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.frame14736-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.frame14736-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
